.border {
  border: 1px solid red;
}
.info-card-container {
  height: 800px;
  width: 100%;
  background-color: #292929;
  border-radius: 5px;
}

.profile-pic {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 5px;
}
.username {
  background-color: #d9d9d9;
  font-size: 30px;
  padding: 5px 30px;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  margin-top: -80px;
  right: 1100px;
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .username {
    right: 100px;
  }
}
